<div class="card-columns">
  <% articles.each do |article| %>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><%= article.title %></h5>
        <p class="card-text">
          <%= truncate(article.description, length: 150) %>
        </p>
      </div>
      <div class="card-footer">
        <small class="text-muted">
          Created by <%= article.user.username %> on
          <%= localize(article.updated_at, format: "%a %b %d, %y at %I:%M %P") %>
          Last updated <%= time_ago_in_words(article.updated_at) %> ago
        </small>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item text-center">
          <div class="btn-group btn-group-xs justify-content" role="group" aria-label="Small button group">
            <%= link_to 'Show', article, class: 'btn btn-success' %>
            <%= link_to 'Edit', edit_article_path(article), class: 'btn btn-primary' %>
            <%= link_to 'Delete', article, class: 'btn btn-danger',
                        method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        </li>
      </ul>
    </div>
  <% end %>
</div>

<%= render 'layouts/pagination', obj: articles %>