<%= render 'layouts/messages' %>

<h1>
  Articles
  <%= link_to 'New', new_article_path, class: 'btn btn-success btn-sm' %>
</h1>

<div class="card-columns">
  <% @articles.each do |article| %>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><%= article.title %></h5>
        <p class="card-text">
          <%= truncate(article.description, length: 250) %>
        </p>
      </div>
      <div class="card-footer">
        <small class="text-muted">
          Last updated <%= localize(article.updated_at, format: "%a %b %d, %y at %I:%M %P") %>
        </small>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item text-center">
          <div class="btn-group btn-group-sm justify-content" role="group" aria-label="Small button group">
            <%= link_to 'Show', article, class: 'btn btn-success btn-sm' %>
            <%= link_to 'Edit', edit_article_path(article), class: 'btn btn-primary btn-sm' %>
            <%= link_to 'Delete', article, class: 'btn btn-danger btn-sm',
                        method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        </li>
      </ul>
    </div>
  <% end %>
</div>