<%= render 'layouts/messages' %>

<div class="row">
  <div class="col-md-12 text-center">
    <h1 class="text-secondary">
      <strong>
        <%= @user.username %>'s Profile
      </strong>
      <%= link_to 'Edit', edit_user_path(@user), class: 'btn btn-sm btn-info' %>
    </h1>
    <%= gravatar_for @user, { size: 120 } %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <p class="text-center text-info small">
      [ <%= pluralize(@user.articles.count, 'article') %> ]
      <%= link_to 'New', new_article_path, class: 'btn btn-success btn-xs' %>
    </p>
  </div>
</div>

<hr>

<%= render 'articles/articles', articles: @user_articles %>
