<!DOCTYPE html>
<html>
  <head>
    <title>Monkey Blog</title>
    <%= csrf_meta_tags %>

    <%= favicon_link_tag 'https://avatars3.githubusercontent.com/u/32585393?s=200&v=4', rel: 'icon', type: 'image/png' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'custom', media: 'all' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navigation' %>
    <div class="container">
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
